@font-face{

	font-family: Museo Sans Cyrl;
	
	src: url('fonts/MuseoSansCyrl100\ \(1\).ttf');
	
	font-weight: normal;
	
	font-style: normal;
	
	}
@font-face{

		font-family: Museo Sans Cyrl;
		
		src: url('fonts/MuseoSansCyrl500.ttf');
		
		font-weight: 500;
		
		font-style: normal;
		
	}
@font-face{

		font-family: Museo Sans Cyrl;
		
		src: url('fonts/MuseoSansCyrl700.ttf');
		
		font-weight: 700;
		
		font-style: normal;
		
	}
@font-face{

		font-family: Museo Sans Cyrl;
		
		src: url('fonts/MuseoSansCyrl900.ttf');
		
		font-weight: 900;
		
		font-style: normal;
		
	}
