@mixin text-version {
	width: 209px;
	background: linear-gradient(180deg, #00FF57 0%, #00BD40 100%);
	border-radius: 20px;
	font-family: Museo Sans Cyrl;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	padding: 10px 27px;
	
	&:active{
		outline: none;
	}
	&:focus{
		outline: none;
	}
}

@mixin socials {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
	.icon {
		outline: none;
		color: inherit;
		background-color:#505050;
		width: 32px;
		height: 32px;
		border: none;
		border-radius: 3px;
		margin-top: 16px;
		&:focus{
			background-color: #00FF57;
			color:  #171717;
		}
	}
}

@mixin triangleBottom  {
	display: none;
	position: absolute;
	left: 104px; 
	top: -12px;
	border: 13px solid transparent; 
	border-bottom: 7px solid #C4C4C4;
	transform: rotate(180deg);
	@media (min-width:769px) and (max-width:1257px)  {
	display: none !important;
	}
	@media screen and (max-width:768px) {
		transform: rotate(360deg);
		left: 150px;
		top: 180px;
	}
}


@mixin triangleTop  {
	display: none;
	position: absolute;
	left: 104px; 
	bottom: -12px;
	border: 13px solid transparent; 
	border-bottom: 7px solid #C4C4C4;
	@media (min-width:769px) and (max-width:1257px)  {
		display: none !important;
		}
	@media screen and (max-width:768px) {
		left: 150px;
	}
}